<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="public/styles/main.css">
    <link rel="stylesheet" type="text/css" href="public/styles/categories.css">
    <link rel="stylesheet" type="text/css" href="public/styles/navbar.css">
    <script src="public/scripts/main.js" defer></script>
    <title>Categories</title>
</head>
<body>
    <nav>
        <a href="\dashboard">Unihub</a>
        <ul>
            <li><a href="\dashboard">Strona główna</a></li>
            <li><a href="\categories">Kategorie</a></li>
            <li><a href="\account">Profil</a></li>
        </ul>
    </nav>
    <div class="container">
        
    </div>
</body>
</html>