<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="public/styles/dashboard.css">
    <link rel="stylesheet" type="text/css" href="public/styles/navbar.css">
    <script src="public/scripts/main.js" defer></script>
    <title>Dashboard</title>
</head>
<body>
    <nav>
        <a href="\dashboard">Unihub</a>
        <ul>
            <li><a href="\dashboard">Strona główna</a></li>
            <li><a href="\categories">Kategorie</a></li>
            <li><a href="\konto">Profil</a></li>
        </ul>
    </nav>
    <div class="container">
        <aside>
            <p>PODRECZNE MENU</p>
        </aside>
        <main>
            <h1>Sumy</h1>
        </main>
    </div>
</body>
</html>