<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="public/styles/main.css">
    <link rel="stylesheet" type="text/css" href="public/styles/dashboard.css">
    <link rel="stylesheet" type="text/css" href="public/styles/navbar.css">
    <script src="public/scripts/main.js" defer></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inconsolata:wght@200..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <title>Dashboard</title>
</head>
<body>
    <nav>
        <a href="\dashboard">Unihub</a>
        <ul>
            <li><a href="\dashboard">Strona główna</a></li>
            <li><a href="\categories">Kategorie</a></li>
            <li><a href="\account">Profil</a></li>
        </ul>
    </nav>
    <div class="main-container">
        <h1>TODO</h1>
        <hr class="divider">
        <div class="todo-list">
            <div class="list-item">
                <img src="public/assets/category.png" class="list-icon" alt="ikona">
                <div class="content">
                    <p class="title">huh</p>
                    <p class="description">test</p>
                </div>
                <button class="menu-btn"><img src="public/assets/dots-vertical.png" class="list-icon" alt="ikona"></button>
            </div>
            <div class="list-item">
                <img src="public/assets/category.png" class="list-icon" alt="ikona">
                <div class="content">
                    <p class="title">huh</p>
                    <p class="description">test</p>
                </div>
                <button class="menu-btn"><img src="public/assets/dots-vertical.png" class="list-icon" alt="ikona"></button>
            </div>
            <div class="list-item">
                <img src="public/assets/category.png" class="list-icon" alt="ikona">
                <div class="content">
                    <p class="title">huh</p>
                    <p class="description">test</p>
                </div>
                <button class="menu-btn"><img src="public/assets/dots-vertical.png" class="list-icon" alt="ikona"></button>
            </div>
            <div class="list-item">
                <img src="public/assets/category.png" class="list-icon" alt="ikona">
                <div class="content">
                    <p class="title">huh</p>
                    <p class="description">test</p>
                </div>
                <button class="menu-btn"><img src="public/assets/dots-vertical.png" class="list-icon" alt="ikona"></button>
            </div>
            <div class="list-item">
                <img src="public/assets/category.png" class="list-icon" alt="ikona">
                <div class="content">
                    <p class="title">huh</p>
                    <p class="description">test</p>
                </div>
                <button class="menu-btn"><img src="public/assets/dots-vertical.png" class="list-icon" alt="ikona"></button>
            </div>
            <div class="list-item">
                <img src="public/assets/category.png" class="list-icon" alt="ikona">
                <div class="content">
                    <p class="title">huh</p>
                    <p class="description">test</p>
                </div>
                <button class="menu-btn"><img src="public/assets/dots-vertical.png" class="list-icon" alt="ikona"></button>
            </div>
            
        </div>
    </div>
</body>
</html>