<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="public/styles/main.css">
    <link rel="stylesheet" type="text/css" href="public/styles/login.css">
    <link rel="stylesheet" type="text/css" href="public/styles/navbar.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inconsolata:wght@200..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <meta http-equiv="Cache-Control" content="no-cache">
    <title>Login</title>
    
</head>
<body>
    <nav class="small">
        <a href="\dashboard">Unihub</a>
    </nav>
    <form action="\login" method="POST">
        <?php if(isset($messages)): ?>
            <p class="message">
                <?= $messages; ?>
            </p>
        <?php endif; ?>
        
        <label for="email">E-mail</label>
        <input name="email" type="email" placeholder="Podaj e-mail">
        <label for="password">Hasło</label>
        <input name="password" type="password" placeholder="Podaj hasło">
        <a href="\register">Nie pamiętam hasła</a>
        
        <button type="submit">Zaloguj się</button>

        <a href="\register">Nie masz konta? Zarejestruj się!</a>
    </form>
</body>
</html>