body {
    justify-content: center;
}

div{
    max-width: 400px;
    width: 90%;
    margin: 0px auto;
    padding: 40px;
    background-color: #ffffff;
    box-shadow: 0px 4px 13px 0px rgba(18, 1, 1, 0.25);
    display: flex;
    flex-direction: column;
    gap:2vh;
}