*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: #E6E6EF;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

a {
    color: #184182;
    text-decoration: none;
    font-size: 14px;
    text-align: center;
    transition: color 0.3s ease;
}

a:hover {
    color: #184182;
    text-decoration: underline;
}

div{
    max-width: 400px;
    width: 90%;
    margin: 0px auto;
    padding: 40px;
    background-color: #ffffff;
    box-shadow: 0px 4px 13px 0px rgba(18, 1, 1, 0.25);
    display: flex;
    flex-direction: column;
    gap:2vh;
}