.main-container{
    position: relative;
}

.logout-btn{
    background-color: transparent;
    color: #852221;
    margin: 24px;
    border: none;
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
}

.logout-btn:hover {
    text-decoration: underline;
}

form.footer{
    position: absolute;
    bottom: 0;
    text-align: right;
}