.todo-list {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.list-item {
    background-color: #EDEDEE;
    display: flex;
    align-items: center;
    gap: 20px;
    padding: 8px 20px;
}

.list-icon {
    width: 24px;
    height: 24px;
}

.menu-btn{
    border:none;
    background: none;
    cursor: pointer;
    position:relative;
}

.menu-btn img{
    position:absolute;
    top: 50%;
    left:50%;
    transform: translate(-50%, -50%);
}

.content{
    width: 100%;
}

.title{
    font-size: 24px;
    font-weight: bold;
    overflow: hidden;
}

.description{
    font-size: 16px;
    color: #555555;
    overflow: hidden;
}