body{
    justify-content: center;
}

form {
    max-width: 400px;
    width: 90%;
    margin: 0px auto;
    padding: 40px;
    background-color: #ffffff;
    box-shadow: 0px 4px 13px 0px rgba(0, 0, 0, 0.25);
    display: flex;
    flex-direction: column;
    gap: 2vh;
}

label {
    font-size: 14px;
    font-weight: 500;
    color: #4F517D;
    margin-bottom: -10px;
}

.message {
    background-color: #f8d7da;
    color: #721c24;
    padding: 12px;
    border-radius: 4px;
    border: 1px solid #f5c6cb;
    font-size: 14px;
    text-align: center;
    margin-bottom: 20px;
}

@media (max-width: 480px) {
    form {
        margin: 30px auto;
        padding: 30px 20px;
    }
    
    nav {
        padding: 15px 20px;
    }
    
    nav h1 {
        font-size: 20px;
    }
}