*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body {
    background-color: #E6E6EF;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main-container {
    background-color: white;
    width:90%;
    margin-bottom: 2vh;
    box-shadow: 0px 4px 13px 0px rgba(0, 0, 0, 0.25);
    min-height: calc(100vh - 2vh - 2vh - 60px);
}

a {
    color: #184182;
    text-decoration: none;
    font-size: 14px;
    text-align: center;
    transition: color 0.3s ease;
}

a:hover {
    color: #184182;
    text-decoration: underline;
}

input {
    padding: 12px 16px;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 14px;
    background-color: #E6E6EF;
    transition: border-color 0.3s ease;
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);
}

input:focus {
    outline: none;
    border-color: #4F517D;
}

input::placeholder {
    color: #999;
    font-size: 14px;
}

button {
    background-color: #4F517D;
    color: white;
    padding: 12px 24px;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-top: 10px;
}

button:hover {
    background-color: #373958;
}