*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

a {
    color: #184182;
    text-decoration: none;
    font-size: 14px;
    text-align: center;
    transition: color 0.3s ease;
}

a:hover {
    color: #184182;
    text-decoration: underline;
}