:root{
    --primary-bg-color:#E6E6EF;
}

h1 {
    color: blue;
    margin: 0px;
    display: flex;
    flex-direction: column;
}

body {
    height: 100vh;
    margin: 0;
    background-color: var(--primary-bg-color);
    display:flex;
    flex-direction: column;
}

aside{
    background-color: gainsboro;
}

main{
    background-color: darkkhaki;
}

.container{
    background-color: coral;
    display:grid;
    grid-template-columns: 20% 80%;
    height: calc(100vh - 5rem)
}
.main-container{
    margin: 5vh 10vh;
    background-color: white;
    box-shadow: 0px 4px 13px 0px rgba(18, 1, 1, 0.25);
    height: 90vh;
}

body{
    margin: 0px;
    height: 100vh;
}

nav > ul{
    display:flex;
    gap:2rem;
}

@media screen and (max-width: 480px){
    .container{
        grid-template-columns: 1fr;
    }
    aside {
        position: fixed;
        bottom:0;
        left: 0;
        right: 0;
        height: 5rem;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}